.nav--menu {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
}

.nav--header {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #ffffff;
  margin-right: auto;
}

.nav--logo {
  height: 100%;
  width: 26px;
  margin-right: 6px;
}

.nav--text {

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 0.75rem;
line-height: 15px;
text-align: right;

color: #FFFFFF;


}
